<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css'>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Quicksand:400,700'>

    <link rel="stylesheet" href="../static/style.css">


</head>

<body>
    <div id="control-panel">
        <div id="temp-control" class="grow"></div>
    </div>

    <div id="content">
        <i id="weather-icon"></i>

        <h1 id="temp-location"></h1>

        <h4 id="weather-main"></h4>

        <div id="weather-other">
            <div class="weather-other-el">
                <i id="temp-max-icon" aria-hidden="true"></i>
                <h6 id="temp-max"></h6>
            </div>

            <div class="weather-other-el">
                <i id="temp-min-icon" aria-hidden="true"></i>
                <h6 id="temp-min"></h6>
            </div>

            <div class="weather-other-el">
                <i id="humidity-icon" aria-hidden="true"></i>
                <h6 id="humidity"></h6>
            </div>
        </div>

        <div id="datetime">
            <h1 id="time"></h1>
            <h6 id="date"></h6>
        </div>
        <div id="location-search-wrapper">
            <i id="search-icon" class="fa fa-search" aria-hidden="true"></i>
            <input id="location-search" class="controls" type="text" placeholder="">
        </div>

        <div id="error-msg"></div>
    </div>
    <div id="spacer"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAJweTA4a_krVKkipVQ1DtVu4DYjnr44dA&libraries=places'></script>

    <script src="../static/index.js"></script>

</body>

</html>